body{
	background-image: url(./Public/fundo.png);
	background-size: cover;
	font-family:monospace;
	color: #e3f2fd;
	height: 100vh;
	margin: 0;
	box-sizing:border-box;
}
h1{
	font-family: Arial, Helvetica, sans-serif;
	margin-top: 0;
	height: 200px ;
}
h3{
	font-family: 'Courier New', Courier, monospace;
}